<div class="food-card p-5 ">
    <h3>Request Reset password</h3>
    <form [formGroup]="requestEmail">
        <div class="input-group flex-nowrap mb-3" >
            <span class="input-group-text p-2" id="addon-wrapping"><i class="fa-solid fa-mobile-screen"></i></span>
            <input type="email" class="form-control py-2" formControlName="email"  [(ngModel)]="email" placeholder="Enter Your Email" aria-label="email" aria-describedby="addon-wrapping">
            
        </div>
        <!-- <div class="alert alert-danger p-2 my-2" *ngIf="requestEmail.get('email')?.touched && requestEmail.get('email')?.status == 'INVALID'">
            <p *ngIf="requestEmail.get('email')?.getError('required')">Email is required</p>
            <p *ngIf="requestEmail.get('email')?.getError('pattern')">test@gmail.com</p>
        </div> -->
        
    <button [mat-dialog-close]="email" class="form-control green-btn" >Send</button>
    </form>
    <div class="form-register">
        <a (click)="onNoClick()" routerLink="/auth/reset-password">Have Code?</a>
     
      </div>
   
</div>
